/* CONTIENE EL LOGO PRINCIPAL Y NAV BAR */

@use 'variables' as *;
/* LOGO PRINCIPAL */
.logo_container {
    display: flex;
    align-items: center;
    width: 4%;
    height: 4%;
    max-width: 100%;
  
    .logo_navbar {
      margin-right: 10px;
      width: auto;
      height: auto;
      max-width: 100%;
      align-self: flex-start;
    }
  }
  
  .logo_subtitle {
    font-family: $p;
    font-size: 1rem;
    color: $violeta;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  /*Se utilizó bootstrap para agregar un menú desplegable para la barra 
de navegacion en mobile*/
/* NAV BAR */
/* BOTÓN DE ÍCONO MENÚ (toggler) */
.custom_toggler {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 32px;
    height: 32px;
  
    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }
  }
  
  /* MENÚ DE LINKS EN DESKTOP */
  .custom_collapse {
    justify-content: flex-end;
  
    /* MENÚ DE LINKS DESPLEGABLE EN MOBILE */
    &.show {
      z-index: 1050;
      width: 100%;
      background-color: white;
      position: relative;
      border: none;
      box-shadow: none;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  
    .nav_turnos {
      background-color: $violeta;
      font-family: $p;
      width: 105px;
      height: 36px;
      padding: 8px 20px;
      border-radius: 19px;
      color: white;
      text-decoration: none;
      justify-self: center;
      align-items: center;
    }
  }
  
  .container_custom_navbar {
    display: flex;
    align-content: flex-end;
    gap: 5px;
  }
  
  .custom-navbar {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
    z-index: 2;
    border-bottom: none;
  
    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      align-items: center;
    }
  
    li {
      margin-left: 10px;
  
      a {
        background-color: white;
        font-family: $p;
        font-size: 18px;
        font-weight: bold;
        color: $violeta;
        text-decoration: none;
        border-radius: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &:hover {
          background-color: $grisaceo;
          font-family: $p;
          font-size: 16px;
          border-radius: 19px;
          font-weight: bold;
          color: #213555;
          text-decoration: none;
          border-color: solid $grisaceo;
          padding: 8px 20px;
        }
      }
    }
  }
  
  .nav_turnos {
    background-color: $violeta;
    font-family: $p;
    font-size: 16px;
    border-radius: 19px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-color: $violeta;
    align-items: center;
    justify-content: center;
  
    &:hover {
      background-color: $grisaceo;
      font-family: $p;
      font-size: 16px;
      border-radius: 19px;
      font-weight: bold;
      color: $violeta;
      text-decoration: none;
      border-color: solid $violeta;
    }
  }
  
  .menu_icon {
    border: none;
    width: 24px;
    height: 24px;
  
    &:focus {
      border: none;
    }
  }
  