//PALETA DE COLORES
$violeta: #55466B;
$rosa: #BC8A97;
$grisaceo: #ADA6B7;
$beige: #BFB2B2;
$acento: #A06868;
$gris: #ccc;
$blanco: #fff;
$negro: #000;

//COLORES INDICADORES
$alerta: #FBBA06;
$correcto: #00A272;
$error: #DB1318;

//TIPOGRAFIA
$h: "Poppins", sans-serif;
$p: "Inter", sans-serif;

//FONT WEIGHT
$extralight: 200;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900;

//FONT SIZE
$size-h1: 40px;
$size-h2: 32px;
$size-h3: 24px;
$size-p:  18px;


//MEDIA QUERIES:
$mobile-min: 360px;
$mobile-max:575px;
$tablet-min: 576px;
$tablet-max:991px;
$desktop-min: 992px;
$desktop: 1024px;




